input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(233, 231, 231);
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 10%;
    margin-top: 0px;
    width: 100%;
}



