select{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(196, 195, 195);
    background-color: white;
    color: gray;
    margin: 0;
}

.selectWrapper{
    display: flex;
    flex-direction: column;
margin-top: 5%;
margin-bottom: 10%;
gap: 8px;
width: 100%;
}

